body{
	font-family:helvetica, arial, sans-serif;
	color:rgb(50,50,50);
	margin:0px; /*Gets rid of the natural margin around the browser window edges*/
	background-color:rgb(67, 153, 181);
}

#container{ /*A box that will contain the entire website for centering purposes*/
	width:100%; /*The container will try to fill the entire browser window width*/
	max-width:1000px; /*the maximum width the container will grow to*/
	margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	background-color:rgb(68, 202, 207);
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/

	display:flex;
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space around*/
	align-items:stretch; /*flex-end, center, stretch, baseline*/
}

header{
	width:100%;
	background-color:rgb(0,0,0);
	padding:50px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
}

nav{
	width:100%;
	background-color:rgb(144,238,144);
	margin:10px 0px;
	padding:0px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
}
 ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
	position:fixed;
}
/*Modified from: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_fixed; */
nav ul li form:hover:not(.active){
	display:inline-block;
	margin:0px 2px;
	padding:2px;
}
nav a{
	text-decoration:none;
}

article{
	width:100%;
	background-color:rgb(255,255,255);
	margin:0px;
	padding:0px;
	box-sizing:border-box;

	/*The article needs its own flex properties since it contains sections 
	which will be flexing*/
	display:flex;
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space-around*/
	align-items:stretch; /*flex-end, center, stretch, baseline*/
}

.fullwidth{
	background-color:rgb(255,255,255);
	margin:2%;
	width:96%;
	padding:2%;
	box-sizing:border-box;

}

.halfwidth{
	background-color:rgb(90, 143, 242);
	margin:2%;
	width:46%;
	padding:2%;
	box-sizing:border-box;

	display: flex;
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row-reverse; /*row, row-reverse, column, column-reverse*/
	align-content:flex-start; /*flex-start, flex-end, center, stretch, space-between, space-around*/
	align-items:stretch; /*flex-end, center, stretch, baseline*/
}
.fullwidth{
	background-color:rgb(90, 143, 242);
	margin:2%;
	width:96%;
	padding:2%;
	box-sizing:border-box;
}
h2{
	margin:auto;
	font-family: "Lucida Console", "Courier New", monospace;
}
 h3{
	text-align:center;
	
}
p{
	font-family: "Lucida Console", "Courier New", monospace;
}

img{
	max-width:100%;
}

footer{
	margin:auto;
	text-align:center;
	font-size:30px;
	font-family: "Lucida Console", "Courier New", monospace;
}

button{
	width:100%;
	font-size:25px;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color:rgb(96, 53, 148);
}

